<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Reach</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/routes/html-routes.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
