<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    {{!-- <link rel="stylesheet" href="../node_modules/wickedpicker/stylesheets/wickedpicker.css"> --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> --}}
		<title>Reach</title>
    </head>
    <header>
       <nav>
            <div class="nav-wrapper purple darken-3">
                <div class="container">
                    <a href="/" class="brand-logo">REACH</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="/">Compose Message</a></li>
                    <li><a href="/outbox">Pending Outbox</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Compose Message</a></li>
                <li><a href="/outbox">Pending Outbox</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
	</header>

		{{{ body }}}

</html>
