<body>
<div class="container">
        <div class="row center">
    <div class="col s12 m7 offset-s6">
          <br>
      <div class="card">
        <div class="card-image offset-s6">
          <img src="/assets/img/About.png" style="align-content:center">
      </div>
    </div>
  </div>
</div>   
		<div class="col-md-6 text-center" class="task">
			<div class="row">
				<div class="col-md-6 text-center offset-s6" >
				<h6 class="flow-text">
                An application made for those who want to maximize the amount of time we 
                spend on our phones. REACH allows a user to send a text message to one or more 
                people at a pre-determined date.
                </h6>
                <h6 class="flow-text" >
                    <br>
                Are you REACHing out for personal or business use?
				</h6>
                </div>
    
                <h4>Personal</h4>
				<div class="col-md-6 text-center"></div>
                <blockquote>
                Get that message out while you still remember.
                It’s your bff’s birthday in 2 days - but your thinking of it now?
                Type in your text with REACH, and select the date and time you want your best to get your 
                well-wishes. They will receive your birthday message on time, and all you have to do is wait for their 
                thank you. You are always so thoughtful!
                </blockquote>
                <h4>Entrepenuer</h4>
                <blockquote>
                    Is your business having an event that you want people to remember? With REACH you are able 
                    to quickly input your contacts and mass-send pre-determined messages to arrive right before the big day. 
                    Your event is in the forefront of future attendees minds. 
                </blockquote>
			</div>
		</div>
		<div class="col-md-6 text-center" class="task"></div>
	</div>
</div>

{{!-- Can be deleted at will --}}
<div class="container">
	<div class="row center">
        <br>
        <h5>Created By</h5>
        <br>
		<div class="col-md-12 text-center enter_section">
        <div class="col s2 text-center">
        <img src="/assets/img/Saundra.png" style= "height:5em"  class="circle responsive-img"> 
          <figcaption>Sandra</figcaption>
        </div>
                <div class="col s2">
        <img src="/assets/img/Brandon.png" style= "height:5em"  class="circle responsive-img"> 
        <figcaption>Brandon</figcaption>
        </div>
                <div class="col s2">
        <img src="/assets/img/Thom.png" style= "height:5em"  class="circle responsive-img"> 
        <figcaption>Thom</figcaption>
        </div>
                        <div class="col s2">
        <img src="/assets/img/Majid.png" style= "height:5em"  class="circle responsive-img"> 
        <figcaption>Majid</figcaption>
        </div>    
        </div>	
	</div>
</div>
</body>