<div class="container">
        <div class="row center">
    <div class="col s12 m7 offset-s6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/img/image.jpeg">
          <span class="card-title" style="size:9em; font-weight:800;">ABOUT US</span>
      </div>
    </div>
  </div>
</div>   
		<div class="col-md-6 text-center" class="task">
			<div class="row">
				<div class="col-md-6 text-center offset-s6" >
				<h6 class="flow-text">
                An application made for those who want to maximize the amount of time we 
                spend on our phones. REACH allows a user to send a text message to one or more 
                people at a pre-determined date.
                </h6>
                <h6 class="flow-text" >
                    <br>
                Are you REACHing out for personal or business use?
				</h6>
                </div>
    
                <h4>Personal</h4>
				<div class="col-md-6 text-center"></div>
                <blockquote>
                Get that message out while you still remember.
                It’s your bff’s birthday in 2 days - but your thinking of it now?
                Type in your text with REACH, and select the date and time you want your best to get your 
                well-wishes. They will receive your birthday message on time. All you have to do is wait for their 
                thank you. You are always so thoughtful!
                </blockquote>
                <h4>Entrepenuer</h4>
                <blockquote>
                    Is your business having an event that you want people to remember? With REACH you are able 
                    to quickly input your contacts and mass-send pre-determined messages to arrive right before the big day. 
                    Your event is in the forefront of future attendees minds. {feature coming soon}
                </blockquote>
			</div>
		</div>
		<div class="col-md-6 text-center" class="task"></div>
	</div>
</div>

{{!-- Can be deleted at will --}}
<div class="container">
	<div class="row center">
        <br>
        <br>
        <p>Created by</p>

		<div class="col-md-12 text-center enter_section">
        <div class="col s2 offset-m2 l6 offset-l3">
        <img src="/assets/img/ppl.jpg" style= "height:5em"  class="circle responsive-img"> 
          <figcaption>Saundra</figcaption>
        </div>
                <div class="col s2">
        <img src="/assets/img/ppl.jpg" style= "height:5em"  class="circle responsive-img"> 
        <figcaption>Brandon</figcaption>
        </div>
                <div class="col s2">
        <img src="/assets/img/ppl.jpg" style= "height:5em"  class="circle responsive-img"> 
        <figcaption>Thom</figcaption>
        </div>
                        <div class="col s2">
        <img src="/assets/img/ppl.jpg" style= "height:5em"  class="circle responsive-img"> 
        <figcaption>Majid</figcaption>
        </div>


    
        </div>	
	</div>
</div>
