@purple: #6a1b9a;
@darker-purple: #4a148c;
@white-smoke: #f5f5f6;

body {
    background-color: @white-smoke;
}

.datepicker-date-display, .timepicker-digital-display, .datepicker-table td.is-selected {
    background-color: @purple;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .datepicker-table td.is-today, .timepicker-close {
    color: @purple;
}

.timepicker-canvas line {
    stroke: @purple;
}

.timepicker-canvas-bg, .timepicker-canvas-bearing {
    fill: @purple;
}

.timepicker-tick.active,.timepicker-tick:hover {
    background-color: @darker-purple;
}

textarea.materialize-textarea {
    height: 4rem;
}

#submit:focus {
    background-color: @darker-purple !important;
}

.formBtn {
    margin-top: 1.5em;
}
  
.formBtn:focus, .tableBtn:focus {
    background-color: @darker-purple !important;
}

.table-responsive-vertical {
    margin: .5rem 0 1rem 0;
}

